[submodule "crates/soul_macros"]
	path = crates/soul_macros
	url = .\\crates\\soul_macros\\
[submodule "crates/soul_msgs"]
	path = crates/soul_msgs
	url = .\\crates\\soul_msgs\\
[submodule "crates/soul_node"]
	path = crates/soul_node
	url = .\\crates\\soul_node\\
